<div class='github-stats'></div>

<script>
	import {
		GITHUB_STATS_URL,
		GITHUB_STATS_USERNAME,
		GITHUB_STATS_SHOW_ICONS,
		GITHUB_STATS_HIDE_BORDER,
		GITHUB_STATS_COUNT_PRIVATE,
		GITHUB_STATS_INCLUDE_ALL_COMMITS,
		GITHUB_STATS_THEME_DARK,
		GITHUB_STATS_THEME_LIGHT,
	} from '@src/config';
	import { getTheme } from '@src/lib/helpers';

	function getStatsTheme() {
		const theme = getTheme();
		const statsTheme =
			theme === 'light' ? GITHUB_STATS_THEME_LIGHT : GITHUB_STATS_THEME_DARK;

		return statsTheme;
	}

	function setStatsTheme() {
		const img: HTMLImageElement | null =
			document.querySelector('.github-stats img');
		if (img) {
			const imgSrc = img.src;
			const imgSrcUrl = new URL(imgSrc);
			const imgSrcSearchParams = imgSrcUrl.searchParams;
			imgSrcSearchParams.set('theme', getStatsTheme());

			img.src = imgSrcUrl.toString();
		}
	}

	document.addEventListener('DOMContentLoaded', () => {
		const img = document.createElement('img');
		img.src = `${GITHUB_STATS_URL}/api?username=${GITHUB_STATS_USERNAME}&theme=${getStatsTheme()}&show_icons=${GITHUB_STATS_SHOW_ICONS}&hide_border=${GITHUB_STATS_HIDE_BORDER}&count_private=${GITHUB_STATS_COUNT_PRIVATE}&include_all_commits=${GITHUB_STATS_INCLUDE_ALL_COMMITS}`;
		img.alt = 'GitHub Stats';

		document.querySelector('.github-stats')?.appendChild(img);
	});

	const themeSwitcher = document.querySelector('#themeToggle');
	if (themeSwitcher) {
		themeSwitcher.addEventListener('themeToggle', setStatsTheme);
	}
</script>
